{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Account Inactive' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Account Inactive' %}{% endblock %}


{% block content %}
  <p class="govuk-heading">{% trans "This account is inactive." %}</p>
{% endblock %}


{% block inner_secondary %}
{% endblock %}
