{% extends "page.html" %}

{% load i18n %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block title %}
        <h2 class="govuk-heading-l">
          {% block head_title %}
          {% endblock head_title %}
        </h2>
      {% endblock title %}

      {% block inner %}{% endblock %}
    </div>

    <div class="govuk-grid-column-one-third">
      {% block inner_secondary %}{% endblock %}
    </div>
  </div>
{% endblock %}
