{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Confirm your email address' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Confirm E-mail Address' %}{% endblock %}


{% block inner %}
  {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="govuk-heading">
      {% blocktrans with confirmation.email_address.email as email %}
        Please confirm that <a class="govuk-link" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for
        user {{ user_display }}.
      {% endblocktrans %}
    </p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="govuk-button" type="submit">{% trans 'Confirm' %}</button>
    </form>

  {% else %}

    {% url 'account_email' as email_url %}

    <p class="govuk-heading">
      {% blocktrans %}
        This e-mail confirmation link expired or is invalid. Please
        <a class="govuk-link" href="{{ email_url }}">issue a new e-mail confirmation request</a>.
      {% endblocktrans %}</p>

  {% endif %}
{% endblock %}


{% block inner_secondary %}
{% endblock %}
