{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Sign in' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Sign in' %}{% endblock %}


{% block inner %}
  <p class="govuk-body-l">{% trans 'Enter Open Bus Data access account details to sign in.' %}</p>
  {% include 'account/forms/login_form.html' %}
{% endblock %}


{% block inner_secondary %}
  <h3 class="govuk-heading-m">{% trans 'Forgot your password' %}</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="{% url 'account_reset_password' %}">{% trans 'Reset your password' %}</a>
  </p>

  <h3 class="govuk-heading-m">{% trans "Don't have an account?" %}</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="{{ signup_url }}">{% trans 'Create an account' %}</a>
  </p>
{% endblock %}
