{% extends "account/base.html" %}

{% load i18n %}


{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Log out' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Sign Out' %}{% endblock %}


{% block inner %}
  <p class="govuk-body">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button class="govuk-button" type="submit">{% trans 'Sign Out' %}</button>
  </form>
{% endblock %}


{% block inner_secondary %}
{% endblock %}
