{% extends "account/base.html" %}

{% load i18n %}


{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Password changed' %}</li>
{% endblock %}


{% block head_title %}{% endblock %}

{% block inner %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Password changed
    </h1>
    <div class="govuk-panel__body">
      {% blocktrans %}
        Your new password has been sent. Please sign in to continue.
      {% endblocktrans %}
    </div>
  </div>
{% endblock %}

