{% extends "account/base.html" %}

{# Template used to allow user to request password reset.
 See https://django-allauth.readthedocs.io/en/latest/views.html#password-reset-account-reset-password
 After email is sent, user is navigated to 'accounts/password_reset_from_key' template #}

{% load account %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Forgotten your password?' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Forgotten your password?' %}{% endblock %}


{% block inner %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="govuk-heading">{% trans "Enter your Open Bus Data account details to reset your password" %}</p>

  {% include 'account/forms/password_reset_form.html' %}
{% endblock %}


{% block inner_secondary %}
{% endblock %}
