{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}


{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Change password' %}</li>
{% endblock %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block inner %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <h3 class="govuk-heading-m">{% trans "Bad Token" %}</h3>
    <p class="govuk-body">
      {% blocktrans %}
        The password reset link was invalid, possibly because it has already been used. Please request a
        <a class="govuk-link" href="{{ passwd_reset_url }}">new password reset</a>.
      {% endblocktrans %}
    </p>

  {% else %}
    <p class="govuk-body-l">
      {% blocktrans %}
        Enter your new Open Bus Service password
      {% endblocktrans %}
    </p>

    {% if form %}
      {% include 'account/forms/password_change_form.html' %}
    {% else %}
      <p class="govuk-body">{% trans 'Your password is now changed.' %}</p>
    {% endif %}

  {% endif %}
{% endblock %}

