{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Sign up closed' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Sign Up Closed' %}{% endblock %}


{% block inner %}
  <p class="govuk-heading">{% trans "We are sorry, but the sign up is currently closed." %}</p>
{% endblock %}


{% block inner_secondary %}
{% endblock %}
