{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Create an account' %}</li>
{% endblock %}

{% block head_title %}{% trans 'Create an account' %}{% endblock %}

{% block inner %}
  <p class="govuk-body-l">{% trans 'Enter your details to create an account and start using bus open data.' %}</p>
  {% include 'account/forms/signup_form.html' %}
{% endblock %}


{% block inner_secondary %}
  <h3 class="govuk-heading-m">{% trans 'Already have an account?' %}</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="{% url 'account_login' %}">{% trans 'Sign in' %}</a>
  </p>
{% endblock %}


