{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Verify your email address' %}</li>
{% endblock %}


{% block head_title %}{% endblock %}


{% block inner %}
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Verification email sent
    </h1>
    <div class="govuk-panel__body">
      {% blocktrans %}
        We have sent an e-mail to you for verification. Follow the link provided to finalise the signup
        process. Please contact us if you do not receive it within a few minutes.
      {% endblocktrans %}
    </div>
  </div>

  <h3 class="govuk-heading-m">{% trans 'What happens next?' %}</h3>
  <p class="govuk-body">
    {% blocktrans %}
      You should receive a verification email in the next 5 minutes. To finalise your account please follow
      the link in the email.
    {% endblocktrans %}
  </p>

{% endblock %}


{% block inner_secondary %}
{% endblock %}
