{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumb_content %}
  {{ block.super }}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">
      {% trans 'Access Open Bus Data' %}
    </a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">{% trans 'Verification Required' %}</li>
{% endblock %}


{% block head_title %}{% trans 'Verify Your E-mail Address' %}{% endblock %}


{% block inner %}
  <h2 class="govuk-heading-l">{% trans "Verify Your E-mail Address" %}</h2>

  {% url 'account_email' as email_url %}

  <p class="govuk-heading">{% trans "We are sorry, but the sign up is currently closed." %}</p>

  <p class="govuk-heading">
    {% blocktrans %}
      This part of the site requires us to verify that you are who you claim to be. For this purpose, we require that
      you verify ownership of your e-mail address.
    {% endblocktrans %}
  </p>

  <p class="govuk-heading">
    {% blocktrans %}
      We have sent an e-mail to you for verification. Please click on the link inside this e-mail. Please contact us if
      you do not receive it within a few minutes.
    {% endblocktrans %}
  </p>

  <p class="govuk-heading">
    {% blocktrans %}
      <strong>Note:</strong> you can still <a class="govuk-link" href="{{ email_url }}">change your e-mail address</a>.
    {% endblocktrans %}
  </p>
{% endblock %}


{% block inner_secondary %}
{% endblock %}
