<!DOCTYPE html>
<html lang="en" class="govuk-template ">

<head>
    <meta charset="utf-8"/>
    <title>GOV.UK - The best place to find government services and information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ static('images/favicon.ico') }}" type="image/x-icon"/>
    <link rel="mask-icon" href="{{ static('images/govuk-mask-icon.svg') }}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('images/govuk-apple-touch-icon-180x180.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ static('images/govuk-apple-touch-icon-167x167.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ static('images/govuk-apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" href="{{ static('images/govuk-apple-touch-icon.png') }}">

    {% block styles %}
      <link href="{{ static('css/govuk-frontend-2.2.0.min.css') }}" rel="stylesheet">
      <link href="{{ static('css/shared.css') }}" rel="stylesheet">
    {% endblock %}

    <meta property="og:image" content="{{ static('images/govuk-opengraph-image.png') }}">
</head>

<body class="govuk-template__body ">
<script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

{%- block page %}{% endblock -%}

{% block scripts %}
  <script src="{{ static('js/govuk-frontend-2.2.0.min.js') }}"></script>
  <script src="{{ static('js/shared.js') }}"></script>
{% endblock %}

</body>

</html>
