{% extends "base.html" %}

{% load i18n %}

{% block page %}
  {% block header %}
    {% include "header.html" %}
  {% endblock %}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        alpha
      </strong>
        <span class="govuk-phase-banner__text">
              This is a new service – your
              <a class="govuk-link" href="#">feedback</a> will help us to improve it.
            </span>
      </p>
    </div>

    {% block breadcrumb %}
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">{% trans 'Home' %}</a>
          </li>
          {% block breadcrumb_content %}{% endblock %}
        </ol>
      </div>
    {% endblock %}

    <main class="govuk-main-wrapper app-main-class" id="main-content" role="main">
      {% block content %}
      {% endblock %}
    </main>
  </div>

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}
{% endblock %}
