{% load i18n %}
{% load crispy_forms_tags %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}

  <div class="govuk-form-group">
    <label class="govuk-label" for="field-login">
      {#      {% trans "Username" %}#}
      {{ form.login.label_tag }}
    </label>

    <p>
      {{ form.login.errors }}
    </p>

    <input
      type="email"
      class="govuk-input govuk-!-width-one-half"
      name="{{ form.login.name }}"
      id="{{ form.login.id_for_label }}"
      {% if form.login.value != None %}value="{{ form.login.value|stringformat:'s' }}"{% endif %}
      maxlength="{{ form.login.field.max_length }}"
      {% if form.login.field.required %}required{% endif %}>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="field-password">
      {#      {% trans "Password" %}#}
      {{ form.password.label_tag }}
    </label>

    <p>
      {{ form.password.errors }}
    </p>

    <input
      type="password"
      class="govuk-input govuk-!-width-one-half"
      name="{{ form.password.name }}"
      id="{{ form.password.id_for_label }}"
      maxlength="{{ form.password.field.max_length }}"
      {% if form.password.field.required %}required{% endif %}>

  </div>

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <tr>
    <th>{{ form.message.label_tag }}</th>
    <td>
      {{ form.message.errors }}
      {{ form.message }}
      <br/>
      {{ form.message.help_text }}
    </td>
  </tr>

  <button class="govuk-button" type="submit">{% trans "Sign In" %}</button>
</form>

