{% load i18n %}
{% load crispy_forms_tags %}

<form method="POST" action="{% url 'account_reset_password' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}

  <div class="govuk-form-group">
    <label class="govuk-label" for="field-login">
      {#      {% trans "Username" %}#}
      {{ form.email.label_tag }}
    </label>

    <p>
      {{ form.email.errors }}
    </p>

    <input
      type="email"
      class="govuk-input govuk-!-width-one-half"
      name="{{ form.email.name }}"
      id="{{ form.email.id_for_label }}"
      {% if form.email.value != None %}value="{{ form.email.value|stringformat:'s' }}"{% endif %}
      maxlength="{{ form.email.field.max_length }}"
      {% if form.email.field.required %}required{% endif %}>
  </div>

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <tr>
    <th>{{ form.message.label_tag }}</th>
    <td>
      {{ form.message.errors }}
      {{ form.message }}
      <br/>
      {{ form.message.help_text }}
    </td>
  </tr>

  <button class="govuk-button" type="submit">{% trans "Send reset link" %}</button>
</form>

