{% load i18n %}
{% load crispy_forms_tags %}

<form method="POST" action=".">
  {% csrf_token %}
  {{ form.non_field_errors }}

  {{ form.source.errors }}
  {{ form.source }}

  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ form.password1.id_for_label }}">
      {#      {% trans "Password" %}#}
      {{ form.password1.label_tag }}
    </label>

    <p>
      {{ form.password1.errors }}
    </p>

    <input
      type="password"
      class="govuk-input govuk-!-width-one-half"
      name="{{ form.password1.name }}"
      id="{{ form.password1.id_for_label }}"
      maxlength="{{ form.password1.field.max_length }}"
      {% if form.password1.field.required %}required{% endif %}>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ form.password2.id_for_label }}">
      {#      {% trans "Password" %}#}
      {{ form.password2.label_tag }}
    </label>

    <p>
      {{ form.password2.errors }}
    </p>

    <input
      type="password"
      class="govuk-input govuk-!-width-one-half"
      name="{{ form.password2.name }}"
      id="{{ form.password2.id_for_label }}"
      maxlength="{{ form.password2.field.max_length }}"
      {% if form.password2.field.required %}required{% endif %}>
  </div>

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <tr>
    <th>{{ form.message.label_tag }}</th>
    <td>
      {{ form.message.errors }}
      {{ form.message }}
      <br/>
      {{ form.message.help_text }}
    </td>
  </tr>

  <button class="govuk-button" type="submit">{% trans "Change password" %}</button>
</form>

